<h1>Edit Workout</h1>

<form action="/workouts/<%=@workout.id%>" method="POST">
  <input type="hidden" name="_method" value='patch'>

  <label>Date</label>
  <input type="date" name="day" id='day' value="<%=@workout.day%>">

  <label>Effort Level (1-10)</label>
  <input type="integer" name="effort_level" id='effort_level' value="<%=@workout.effort%>">

  <label>Distance (# Miles)</label>
  <input type="text" name="distance" id='distance' value="<%=@workout.distance%>">

  <label>Duration (HH:MM:SS)</label>
  <input type="text" name="time" id='time' value="<%=@workout.time%>">
  <br></br>

  <input type="submit" value="submit">

</form>