<b style="color:blue;"><u>Welcome, <%= current_user.username %></u></b><br></br>

<% @workouts.each do |workout| %>
  <b>Workout # </b><a href='/workouts/<%=workout.id%>'><%= workout.id %></a><br>
  <b>Date: </b><%= workout.day %><br>
  <b>Run Type: </b><%= workout.run_type.name %><br>
  <b>Distance: </b> <%= workout.distance %><br>
  <b>Time: </b> <%= workout.time %><br>
  <b>Effort: </b> <%= workout.effort %><br>
  -----<br>
  
<% end %>

<br></br>

<a href="/workouts/new">Create a New Workout </a>