<%= @run_type.name %><br />
<%= @run_type.workout.day %> <br />
Workout: <a href="/workouts/<%=@run_type.wokrout.id%>"><%= @run_type.workout.day %></a> <br />
<a href="/runtypes/<%=@run_type.id%>/edit">Edit</a>
<br />
<br />